section {
    height: 100vh;
    overflow: hidden;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}
.flexContainer {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.subFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10vw;
  }
  
.cvImage {
    height: 100vh;
    max-width: auto;
    background-color: var(--secondary);
}
.cvImage:hover {
    background-color: var(--primary);
    filter: brightness(1.2);
    transition: filter 0.5s ease;
}

.list {
    list-style: none;
    padding: 0;
}
span {
    cursor: pointer;
    color: var(--accent)
}
.inline {
    color: var(--primary);
    cursor: auto;
}
.liLink span:hover {
    color: var(--primary);
}
@media (max-width: 768px) {
    .flexContainer {
      flex-direction: column; 
      align-items: center; 
      height: auto; 
      padding: 1rem;
    }
  
    .subFlexContainer {
      margin-left: 0; 
      text-align: center; 
    }
  
    .cvImage {
      display: none;
      height: auto;     
      width: 100%;      
      max-width: 300px; 
      margin-top: 1rem; 
    }
  
    .list {
      padding: 0;
      margin: 1rem 0;
    }
  
    .liLink span {
      font-size: 1rem; 
    }
  
    .header {
      font-size: 1.5rem; 
    }
  
    .paragraph {
      font-size: 1rem; 
      line-height: 1.4; 
    }
  
    .button {
      font-size: 1rem; 
      padding: 0.5rem 1rem; 
    }
  }