.pageTop{
    display: flex;
    align-items: center;
    height: 10vh;
    padding-left: 1rem;
    gap: 1rem;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.navContainer {
    width: 20vw;
    height: 90vh;
    overflow: hidden;
    
    /* border-color: blue;
    border-width: 5px;
    border-style: solid;
    box-sizing: border-box; Sørger for, at border ikke forstørrer elementet */
}
.contentContainer {
    width: 80vw; /* Fylder resten af pladsen ved siden af sidebaren */
    height: 90vh;
    overflow: hidden; /* Tilføjer scroll, hvis indholdet er for stort */
    /* border-color: brown;
    border-width: 5px;
    border-style: solid;
    box-sizing: border-box; Sørger for, at border ikke ændrer bredden */
  }