/* src/components/Sidebar.module.css */
.sidebar {
  height: 90vh;
  display: flex;
  flex-direction: column; /* Sørger for, at elementerne stables lodret */
  justify-content: center; /* Placerer elementerne i toppen af containeren */
  align-items: center; /* Centrerer elementerne horisontalt */
  border-left: 6px solid var(--primary);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Sørger for, at listen strækker sig over hele bredden */
  text-align: center; /* Centrerer tekstindholdet i listen */
}
.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li:last-child {
  margin-bottom: 0; 
}

.link {
  color: var(--accent);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  font-size: 1.3em;
  display: block; /* Sørger for, at linkene opfører sig som blokke og centrerer korrekt */
  text-align: center; /* Centrerer teksten i hvert link */
  text-decoration: none;
}

.link:hover {
  color: var(--primary);; 
}

.active {
  font-weight: bold;
  color: var(--primary); 
  position: relative; 
  text-decoration: none;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.active::after {
  content: ''; 
  position: absolute;
  left:  -1000px;
  right: -1000px;
  bottom: 6px;
  height: 6px; 
  background-color: var(--primary); 
  transform: scaleX(0.5);  
}
.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  z-index: 1001;
}

.burgerBar {
  width: 28px;
  height: 4px;
  background: var(--primary);
  margin: 3px 0;
  border-radius: 2px;
  transition: 0.3s;
}

/* Menu styles for mobile */
.menu {
  transition: 0.3s ease;
  overflow: hidden;
}
.closeBtnLi {
  display: none;
}
.closeBtn {
  display: none;
}
  
@media (max-width: 768px) {
  .burger {
    display: flex;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    margin-bottom: 0;

  }
  .sidebar {
    position: static;
    height: 0;
    min-height: 0;
    border: none;
    padding: 0;
    margin: 0;
    display: flex; /* Eller flex hvis du har brug for det til burger-knappen */
    width: 0;
    overflow: visible;
    background: none;
    
  }
  .menu {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    background: var(--text);
    width: 100vw; /* Dækker hele viewporten */
    height: 100vh; /* Dækker hele viewporten */
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    position: fixed; /* Fast placeret over alt */
    top: 0;
    left: 0;
    z-index: 2000; /* Højere end alt andet */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem; 
  }
  .open {
    max-height: 100vh;
    opacity: 1;
    pointer-events: auto;
    transition: max-height 0.3s ease, opacity 0.3s;
  }
  .menu li button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary);
  }
}