:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text: #03011c;
  --background: #f7f6ff;
  --primary: #433bff;
  --secondary: #f9797a;
  --accent: #e08633;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text);
}
h2 {
  font-size: 2.4em;
  line-height: 1.1;
  color: var(--text);
}
h3 {
  font-size: 1.8em;
  line-height: 1.1;
  color: var(--text);
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--text);
}

button {
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: var(--secondary);
}
button:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}



